@section Links {
    <link rel="stylesheet" href="~/css/publications.css">
    <link rel="stylesheet" href="~/css/home.css">
}


@section Styles {
    <style media="screen">
        #main_pg::after {
            opacity: 1;
        }
    </style>
}


@* Body start *@
<body>
    <section class="wallpaper">
        <div class="bordered__container">
            <h1 class="wallpaper__heading">Create your own voting</h1>
            <p class="wallpaper__description">Create your own voting, poll or petition and manage it through your profile page.</p>
            <div class="wallpaper__scroller">
                <img class="wallpaper__image" src="~/images/voting.jpg" alt="">
                <form method="post">
                    <button name="btn-petition" class="btn-wallpaper" type="button">Create petition</button>
                    <button name="btn-voting" class="btn-wallpaper" type="button">Create voting</button>
                </form>
            </div>
        </div>
    </section>

    <section class="popular">
        <div class="bordered__container">
            <h1 class="popular__heading">Most popular among users</h1>
            <p class="popular__description">The votings and petitions, that have the most of signs</p>
            <div class="publications-grid">
                {% for publication in popular_petitions %}
                <a class="publications__content" href="{% url 'concrete_petition_page' pr_pg publication.id %}">
                    <div class="publications__content-name">
                        {{ publication.name }}
                    </div>
                    <hr>

                    {% if user_id == publication.author.id %}
                    Author:<span class="highlight">{{ publication.author }}</span>
                    {% else %}
                    Author:<span>{{ publication.author }}</span>
                    {% endif %}

                    <br>

                    {% if publication.peopleVoted >= publication.totalGoal %}
                    People signed:<span class="highlight">{{ publication.peopleVoted }}</span>
                    {% else %}
                    People signed:<span>{{ publication.peopleVoted }}</span>
                    {% endif %}

                    <br>
                    Next goal:<span>{{ publication.nextGoal }}</span>
                    <br>
                    Total goal:<span>{{ publication.totalGoal }}</span>
                    <br>
                    <hr>
                    <div class="publications__content-descriprion">
                        {{ publication.shortDescription }}
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="publications-grid">
                {% for publication in popular_votings %}
                <a class="publications__content" href="{% url 'concrete_voting_page' pr_pg publication.id %}">
                    <div class="publications__content-name">
                        {{ publication.name }}
                    </div>
                    <hr>
                    {% if user_id == publication.author.id %}
                    Author:<span class="highlight">{{ publication.author }}</span>
                    {% else %}
                    Author:<span>{{ publication.author }}</span>
                    {% endif %}
                    <br>
                    People signed:<span>{{ publication.peopleVoted }}</span>
                    <br>
                    <hr>
                    <div class="publications__content-descriprion">
                        {{ publication.shortDescription }}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
@* Body end *@
