@model SignInViewModel


<form asp-action="SignIn" class="sign-up__block-form" method="post">
    <h1>SignIn</h1>

    <label asp-for="Email"></label>
    <div class="input__field-decorator">
        <input type="text" asp-for="Email" placeholder="Enter your email...">
    </div>

    <label asp-for="Password"></label>
    <div class="input__field-decorator">
        <input type="password" asp-for="Password" value="" placeholder="Enter password...">
    </div>

    <button class="btn-accept__signing-up" type="submit">SignIn</button>

    <a class="change__auth__type" asp-action="Register">Create new account</a>

    <div class="error__message__block" asp-validation-summary="All"></div>
</form>

<form asp-action="SignInExternal" asp-route-returnUrl="@Model.ReturnUrl" class="sign-up__block-form" method="post">
    <div>
        @foreach (var provider in Model.ExternalLogins) {
            <button class="btn-accept__signing-up" type="submit"
                    name="provider" value="@provider.Name"
                    title="Login via your @provider.DisplayName account">
                @provider.DisplayName
            </button>
        }
    </div>
</form>
