@model RegistrationViewModel


@* Body start *@
<form asp-action="Register" class="sign-up__block-form" method="post">
    <h1>Registration</h1>

    <label asp-for="UserName"></label>
    <div class="input__field-decorator">
        <input asp-for="UserName" placeholder="Enter account name..." />
    </div>

    <label asp-for="Email"></label>
    <div class="input__field-decorator">
        <input asp-for="Email" placeholder="Enter email..." />
    </div>

    <label asp-for="Password"></label>
    <div class="input__field-decorator">
        <input asp-for="Password" placeholder="Enter password..." />
    </div>

    <label asp-for="ConfirmPassword"></label>
    <div class="input__field-decorator">
        <input asp-for="ConfirmPassword" placeholder="Repeat password..." />
    </div>

    <button class="btn-accept__signing-up" type="submit">Register</button>

    <a class="change__auth__type" asp-action="SignIn">I already got an account</a>

    <div class="error__message__block" asp-validation-summary="All"></div>
</form>
@* Body end *@
